body{
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #6a1b9a;
    text-align: center;
    color: white;
    padding: 1rem 0;

}

header h2{
    color: white;
}
header a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

main{
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
article{
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

article h2{
    margin-bottom:10px;
    color: #333333;
}

article p{
    color: #666666;
    line-height: 1.6;
}

footer{
    background-color:#6a1b9a;
    color: white;
    text-align: center;
    padding: 1rem 0;
}